[color]
    ui = true
[user]
    name = Yann Moisan
	email = yann@zen.ly
[alias]
	st = status -sb
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    lg1 = log --pretty=format:'%h - %an, %ar : %s'
    lg2 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    who = shortlog -sne
    oneline = log --pretty=oneline --abbrev-commit --graph
    changes = diff --name-status
    dic = diff --cached
    diffstat = diff --stat
	latest = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short) [%(committername)]'
	ds = diff --staged
	rebase-master = !git pull --rebase origin master
	delete-merged = !git branch --merged | egrep -v \"(^\\*|master|dev)\" | xargs git branch -d
[push]
	default = simple
	autoSetupRemote = true
[merge]
	tool = vimdiff
	stat = true
[url "https://"]
	insteadOf = git://
[mergetool]
	keepBackup = false
[core]
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[fetch]
	prune = true
[rebase]
	autostash = true
