# ~/.inputrc: used by the GNU readline library.
# Use C-x C-r to reload this configuration file.

set bell-style visible

# lazy tab completion
set show-all-if-ambiguous on
set completion-ignore-case on
set completion-map-case on

# Vim-style word movement: Alt+[w|e|b]
"\ew": forward-word
"\ee": forward-word
"\eb": backward-word

# Alt+[h|l]
"\eh": beginning-of-line
"\el": end-of-line
"\M-h": beginning-of-line
"\M-l": end-of-line

# Vim-style history search: Alt+[j|k]
"\ej": history-search-forward
"\ek": history-search-backward
"\M-j": history-search-forward
"\M-k": history-search-backward

# Alt+r/s instead of Ctrl+r/s
"\er": reverse-search-history
"\es": forward-search-history
"\M-r": reverse-search-history
"\M-s": forward-search-history
