! https://wiki.archlinux.org/index.php/X_resources
! Take effect immediately
! xrdb -merge ~/.Xresources

! https://github.com/solarized/xresources
#include "Xresources.dark"

URxvt.font: xft:DejaVu Sans Mono for Powerline:size=11

! Fix font space
! URxvt*letterSpace: -1
Xft.rgba: none
Xft.hintstyle: hintfull
 
! Scrollbar
URxvt*saveLines: 10000
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false

URxvt*urgentOnBell: true

! Deactivate KEYCAP PICTURE INSERT MODE when C-S are pressed
!URxvt*iso14755 : false
!URxvt*iso14755_52 : false
URxvt.perl-ext-common:  default,matcher,font-size

! extensions -> matcher
URxvt.url-launcher:      /usr/bin/firefox
URxvt.keysym.C-Delete:  perl:matcher:last
URxvt.keysym.M-Delete:  perl:matcher:list
URxvt.matcher.button:   1

! extensions -> font-size
! https://github.com/majutsushi/urxvt-font-size
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal
URxvt.keysym.C-equal:  perl:font-size:reset
URxvt.keysym.C-slash:  perl:font-size:show
